## 나이 계산

In [6]:
##2번문제
korean , math , english = map(int,input().split('/'))
print("국어,수학,영어의 평균 점수는 " + str(int(((korean+math+english)/3)))+ "점입니다")

##포맷팅 버전

hap = korean+
print(hap)

80/70/90
국어,수학,영어의 평균 점수는 80점입니다

TypeError: sum() takes at most 2 arguments (3 given)

In [5]:
a1,b1 = input("이름을 입력하세요: ").split(',')
c1,d1 = map(int,input("나이를 입력하세요: ").split(','))
print(a1+"의 나이는 " +str(c1)+ "살입니다")
print(b1+"의 나이는 " +str(d1)+ "살입니다")
print("엄마의 나이는 " + str((c1+d1)-2) + "살입니다")
print("아빠의 나이는 " + str(d1*2) + "살입니다")
print("%s의 나이는 %d살입니다"%(a1,c1))

이름을 입력하세요: 철수,영희
나이를 입력하세요: 10,20
철수의 나이는 10살입니다
영희의 나이는 20살입니다
엄마의 나이는 28살입니다
아빠의 나이는 40살입니다
철수의 나이는 10살입니다

## 평균 출력

In [53]:
korean , math , english = map(int,input().split('/'))
print("국어,수학,영어의 평균 점수는 " + str(int(((korean+math+english)/3)))+ "점입니다")

66/66/68
국어,수학,영어의 평균 점수는 66점입니다

## 시급 계산기

In [63]:
hour = int(input("시급을 입력하세요: "))
day = 4*hour + 2*1.5*hour
weekly = 5*day
salary = 4*weekly
print("A 학생의 월급은 " +str(int(salary))+"원입니다")

시급을 입력하세요: 6464
A 학생의 월급은 904960원입니다

##  리스트 생성

In [119]:
##4.1
d = (1,2,3)
print("a","b",1,2,"[c,d,3]",d,sep = ',')

##4.2
x = list(range(1,100,2))
print(x)

##4.3
a2,b2 = map(float,input("나누는 수와 나누어지는 수를 입력하세요: ").split())
c2 = list((a2,b2,int(b2/a2),int(b2%a2)))
print(c2)

a,b,1,2,[c,d,3],(1, 2, 3)
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
나누는 수와 나누어지는 수를 입력하세요: 3.7 50
[3.7, 50.0, 13, 1]

In [16]:
print('''

| \\_\\ |
  q  p  |     /}
(  ⊙  )""" \\
| " ^ "\'     |
| |_\\ = \\\\__ | 
''')

| \_\ |
  q  p  |     /}
(  ⊙  )""" \
| " ^ "'     |
| |_\ = \\__ |

In [12]:
print("\\'")

\'

In [32]:

a,b = map(int,input("나누는 수와 나누어지는 수를 입력하세요:").split())
c = [a,b,int(b/a),int(b%a)]
print(c)

나누는 수와 나누어지는 수를 입력하세요:10 20
[10, 20, 2, 0]

In [52]:
i = ["a","b",1,['c','d',3],(1,2,3)]
print(i)

['a', 'b', 1, ['c', 'd', 3], (1, 2, 3)]